# !!여기에 실제 키를 넣지 마세요!!
# .env는 로컬에만 저장되기 때문에, 파일 분실 시 필요한 키들을 기록해두는 용도입니다.

# Firebase (프론트엔드 클라이언트용)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Firebase Admin (백엔드 서버용 - api 폴더 등)
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=

# Discord Social Login (Frontend)
VITE_DISCORD_CLIENT_ID=
# VITE_DISCORD_CLIENT_SECRET=
VITE_DISCORD_REDIRECT_URI=

# Discord Social Login (Backend)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=


# Cloudflare Turnstile
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# 테스트/데모용 키
# VITE_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
# TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"