# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
# 새로 clone된 환경에서 파일 네스팅을 위해 추가
!.vscode/settings.json

# 현재는 공통 익스텐션이 없으나 추후 협업을 위해 남겨둠
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

