.home-wrapper {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.home-box {
  background-color: var(--bg-box);
  box-shadow: var(--shadow);
}

.home-title {
  color: var(--accent);
}

.home-subtitle {
  color: var(--text-sub);
}

.btn-action {
  background-color: var(--accent);
  color: #ffffff;
}

.btn-action:hover {
  background-color: var(--accent-hover);
}
